@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--Test Ne fonctionne pas
    <img src="~Content/images/TE_OccasionDeChanger.jpg" alt="Logo Touteddy" width="70">
    <asp:Image ImageUrl="~Content/images/TE_OccasionDeChanger.jpg" Width="100" Height="50" />
    -->
    <img src="~/Content/images/texcel.png" alt="Texcel" width="400" />
    <!--<h1>TEXCEL</h1>-->
    <!--
    <p class="lead">logiciel de gestion de test de jeux vidéos</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">En savoir plus &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://touteddy.com/">En savoir plus sur Eddy &raquo;</a></p>
            <p><a class="btn btn-default" href="https://www.facebook.com/profile.php?id=100009941986397&fref=ts">En savoir plus sur Franck &raquo;</a></p>
        </div>


    </div>
</div>

